<script type="text/javascript" src="tensorflow/data.js"></script>
<script>

  // Notice there is no 'import' statement. 'tf' is available on the index-page
  // because of the script tag above.

  // instantiate a model
  const model = tf.sequential();

  // add a 2d conv layer
  model.add(tf.layers.conv2d({
    inputShape : [28,28,1],
    kernelSize : 5,
    filters: 8,
    strides: 1,
    activation: 'relu',
    kernelInitializer: 'VarianceScaling'
  }));

  // add a max pooling layer here, no input shape needed as it will refer to the previous layer
  model.add(tf.layers.maxpooling2d({
    poolSize : [2,2],
    strides : [2,2]
  }));

  // second layer
  model.add(tf.layers.conv2d({
    kernelSize : 5, // size of the filter, eg, [5,5]
    filters: 16,
    strides: 1,
    activation: 'relu',
    kernelInitializer: 'VarianceScaling'
  }));

  model.add(tf.layers.maxpooling2d({
    poolSize: [2,2],
    strides: [2,2]
  }));

  // flatten the layer into 1D matrix
  model.add(tf.layers.flatten());

  // create a dense layer for final classifier
  model.add(tf.layers.dense({
    units: 10;// size of the output layer
    kernelInitializer: 'VarianceScaling',
    activation: 'softmax'
  }));

  const LEARNING_RATE = 0.2;
  const optimizer = tf.train.AdamOptimizer(LEARNING_RATE);

  model.compile({
    optimizer: optimizer,
    loss: 'categoricalCrossentropy',
    metrics: ['accuracy'],
  });

  const BATCH_SIZE = 64;

  const TRAIN_BATCHES = 100;

  const TEST_BATCHES = 1000;
  const TEST_ITERATION_FREQUENCY = 5;

  // Begin training
  for(let i=0; i<TRAIN_BATCHES; i++){
    const batch = data.nextTrainBatch(BATCH_SIZE);

    let testBatch;
    let validationData;

    // Every few batches test the accuracy of the model
    if(i % TEST_ITERATION_FREQUENCY === 0) {
      testBatch = data.nextTestBatch(TEST_BATCH_SIZE);
      validationData = [testBatch.xs.reshape([TEST_BATCH_SIZE, 28, 28, 1]), testBatch.labels];
    }

    const history = await model.fit(
        batch.xs.reshape([BATCH_SIZE, 28, 28, 1]),
        batch.labels,
        {
          batchSize: BATCH_SIZE,
          validationData,
          epochs: 1
        });

    const loss = history.history.loss[0];
    const accuracy = history.history.acc[0];

    document.getElementById("mytext").value = accuracy;
  }


</script>
